@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body, html {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 0.9rem !important;
  color: white !important;
  background-color: #16161b !important;
  overflow: hidden;
  letter-spacing: -0.5px;
}

/* Titlebar of the application */

img{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.mainApp{
  width: 100%;
  height: 47px;
  overflow: hidden;
  border: 1px solid #343B48;
  background-color: #1B1D23;
  -webkit-box-sizing: border-box;
}

.mainApp > .topBar{
  height: 40px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.title{
  margin-left: 17px;
  float: left;
  display: inline;
  margin-top: -8px;
}

.title .titleText{
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  padding: 6px 0;
  font-weight: 500;
}

.title .topBarLogoImg{
  display: inline-block;
  width: 15px;
  margin-top: -4px;
  vertical-align: middle !important;
}

.topBar > .titleBarBtns{
  height: 40px;
  float: right;
  display: inline;
  -webkit-app-region: no-drag;
}

.titleBarBtns > .topBtn{
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.titleBarBtns > .topBtn:hover{
  background-color: #272C36;
}

.titleBarBtns > .topBtn:active{
  background-color: #4F9FEE;
}

.titleBarBtns > .minimizeBtn{
  background-image: url('../img/minimize.png');
}

.titleBarBtns > .maximizeBtn{
  background-image: url('../img/maximize.png');
}

.titleBarBtns > .restoreBtn{
  background-image: url('../img/restore.png');
}

.titleBarBtns > .closeBtn{
  background-image: url('../img/close.png');
}


/* Navigation Bar */

.mainBodyWrapper{
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.contentArea{
  margin-top: 30px;
}

.contentPages{
  margin: 0 auto;
  width: 94%;
}

.navbar-brand img{
  width: 170px;
}

.navigationLinks{
  margin-top: 10px;
}

.connectBtnCont{
  display: inline-block;
}

.connectBtnCont .connectBtn{
  background-color: #2ad9a6;
  outline: none;
  border: none;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 10px 27px;
  color: white;
  border-radius: 8px;
}

/*Homepage*/

.mainHomeWrapper{
  width: 86%;
  margin: 60px auto 0 auto;
  -webkit-user-select: none;      
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.topPartCont .leftCol{
  padding-top: 50px;
}

.topPartCont .leftCol p{
  color: #878787;
}

.topPartCont .rightCol{
  text-align: center;
  margin: 0 auto;
}


@media only screen and (min-width: 1200px){


  .topPartCont .leftCol p{
    width: 560px;
  }

  .topPartCont .rightCol{
    padding-top: 15px;
  }

}

@media (min-width:400px) and (max-width:1199px) {

  .topPartCont .rightCol img{
    width: 160px;
  }
}

.recSection{
  margin-top: 67px;
}

.recSection .row{
  margin-top: 35px;
}

.recSection .col{
  background-color: #1b1b1e;
  border-radius: 14px;
  text-align: center;
  padding: 23px 40px;
  margin: 0 18px;
  cursor: pointer;
}

.recSection .cardCont .cardIconCont{
  display: inline-block;
}

.recSection .cardCont .cardTitle{
  display: inline-block;
  margin-left: 8px;
  font-size: 0.8rem;
  font-weight: 500;
}